<footer class="py-3 text-white bg-dark">
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark text-white">Echo por: {{info.name}}</li>
        <li class="list-group-item bg-dark text-white">
            <i class="bi bi-linkedin"></i>
            <a class="text-white" href="{{info.linkedin_link}}" target="_blank">
                {{info.linkedin_name}}
            </a>
        </li>
        <li class="list-group-item bg-dark text-white">
            <i class="bi bi-github"></i>
            <a class="text-white" href="{{info.github_link}}" target="_blank">
                {{info.github_name}}
            </a>
        </li>
        <li class="list-group-item bg-dark text-white">
            <i class="bi bi-envelope-at-fill"></i>
            <a class="text-white" href="mailto:{{info.email}}" target="_blank">
                {{info.email}}
            </a>
        </li>
        <li class="list-group-item bg-dark text-white">
            <i class="bi bi-youtube"></i>
            <a class="text-white" href="{{info.youtube_link}}" target="_blank">
                {{info.youtube_name}}
            </a>
        </li>
        <li class="list-group-item bg-dark text-white">
            <i class="bi bi-link-45deg"></i>
            <a class="text-white" href="{{info.web_link}}" target="_blank">
                {{info.web_name}}
            </a>
        </li>
        <li class="list-group-item bg-dark text-white">
            <i class="bi bi-calendar-date"></i>
            Actualizado el: {{info.update}}
        </li>
    </ul>
</footer>