{% extends 'layout.html' %}

{% block content %}
    <div class="content d-flex justify-content-center">
        <div class="col-12 col-md-10 bg-dark p-4 my-3" style="border-radius: 10px;">
            <h2 class="text-center pb-4">Sobre Mi:</h2>
            {% if not info %}
                <h3 class="text-center">No se a agregado Información</h3>
            {% else %}
                <h3 class=" text-center">Descripción:</h3>
                <p>{{info.description|safe}}</p>
                    
                <h3 class=" text-center">Trabajos:</h3>
                {% for work in works%}
                    <div class="card bg-dark-second mt-2">
                        <h4 class="card-header">{{work.company}}</h4>
                        <div class="card-body"> 
                            <h4 class="card-title ">{{work.job}}</h4>
                            <p class="card-text">{{work.description|safe}}</p>
                        </div>
                        <div class="card-footer">
                            <p>
                                Desde el {{work.start_work}} 
                                {% if work.working%}
                                    y actaulmente es mi trabajo
                                {% else %}
                                    Hasta {{work.end_work}}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                <h3 class=" text-center mt-3">Cursos:</h3>
                {% for course in courses%}
                    <div class="card bg-dark-second mt-2">
                        <h4 class="card-header">{{course.name}}</h4>
                        <div class="card-body"> 
                            <p class="card-text">{{course.description|safe}}</p>
                            <h5>Aprendi:</h5>
                            {% for language in course.languages.all%}
                                <span>{{language}},</span>
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                            <p>
                                Desde el {{course.start_course}} 
                                {% if course.studying%}
                                    y actaulmente es mi trabajo
                                {% else %}
                                    Hasta {{course.end_course}}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}